/* write your override styles here */
#wall .tag-1 {
    display: none;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 980px;
    height: 622px;
  }

#wall .tag-2 {
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 980px;
    height: 622px;
}